.text__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(223, 217, 217);
}

.text__title2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(241, 237, 237);
  padding-top: 20px;
}

.main{
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

